@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Classes */
.py-1 {
    padding: 1.5rem 0;
}

.text-primary {
    color: #93cd53;
    font-weight: bolder;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

/* navbar */
#navbar {
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    justify-content: space-between;
    z-index: 100;
    padding: 1.25rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #93cd53;
    border-radius: 5px;
}

/* Showcase */
#showcase {
    background: #333 url('/Img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 101%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.clients #items {
    display: flex;
}

.clients #items img {
    display: block;
    margin: auto;
    width: 60%;
}